{{>header}}
	
	{{#if loggedIn}}
		{{>nav}}
	{{/if}}

	<div class="container">
		
		<div class="row">
			<div class="span9">
				{{{doc}}}
			</div>

			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="active"><a href="/docs/overview.html">Overview</a></li>
						<li class="nav-header">Quickstart</li>
						<li><a href="/docs/backbone.html">Backbone.js</a></li>
						<li><a href="/docs/rails.html">Rails</a></li>
						<li><a href="/docs/node.html">Node.js</a></li>
						<li class="nav-header">Documentation</li>
						<li><a href="/docs/persistance.html">Persistance</a></li>
						<li><a href="/docs/querying.html">Querying</a></li>
						<li><a href="/docs/rest.html">REST API</a></li>
						<li class="nav-header">Help and Support</li>
						<li><a href="/docs/faq.html">FAQ</a></li>
						<li><a href="/docs/contact.html">Contact Us</a></li>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->

		</div><!--/row-->

	</div><!--/.container-->
	

{{>footer}}