	<footer></footer>

	<script>
		var Zepto;
	</script>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.7.1.min.js"><\/script>')</script>

	{{> vendor_js }}
	{{> app_js }}

	
	<script>	
		$(document).ready(function() {
			App.environment("");
			App.desktop_client("");
			App.current_user();
			
			new App.start()
			new App.Main({el: $("body")});			
		});
		
		$(document).on("ajaxComplete", function(e, request, opts) { 
			flash(request.getResponseHeader('X-Message'), request.getResponseHeader('X-Message-Type'));
	 	});
	</script>
</body>
</html>