{{>header}}
	
	
	{{>nav}}

	<div id="main" class="container">
		{{#if error}}<div class="alert alert-error">{{error}} <a class="close" data-dismiss="alert" href="#">×</a></div>{{/if}}
		{{#if success}}<div class="alert alert-success">{{success}} <a class="close" data-dismiss="alert" href="#">×</a></div>{{/if}}

		<div id="stage">
			<!-- content gets loaded here -->
		</div>
	</div>

	{{>database}}
	{{>table}}
	{{>record}}

		<script id="breadcrumb" type="text/html">
		<ul class="breadcrumb">
			-{#crumbs}-
			<li>
				-{#sep}-<span class="divider">/</span>-{/sep}-
				<a href="-{url}-" class="navigate">-{title}-</a> 
			</li>
			-{/crumbs}-
		</ul>
	</script>

{{>footer}}