<!-- Table -->

<script id="table_list" type="text/html">
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
			</tr>
		</thead>

		<tbody>
			-{#tables}-
			<tr>
				<td>
					<a href="/-{db_id}-/-{title}-/records" class="navigate">-{title}-</a>
				</td>
			</tr>
			-{/tables}-
		</tbody>
	</table>
	
	<a href="/-{db_id}-/tables/new" class="btn navigate">Add Table</a>
</script>

<script id="table_form" type="text/html">
	<form action="/-{database_id}-/tables" method="post" class="well form-horizontal">
		<fieldset>
			<legend>Create a table</legend>
			<div class="control-group">
				<label class="control-label" for="input01">Title</label>
				<div class="controls">
					<input type="text" id="input01" class="input-xlarge" name="title" placeholder="pick a title for your table" />
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Create Table</button>
				<a href="/-{database_id}-/tables" class="btn navigate">Cancel</a>
			</div>
		</fieldset>
	</form>
</script>