@import 'bootstrap/bootstrap';
@import 'web';

#main {
	margin-top:80px;
}

img.logo {
	width:80px;
	display:inline-block;
}

// Stage

#stage {
	margin:0;
}

ul.tags {
	list-style-type:none;
	margin:0;
	padding:0;
}

.navbar {
	.box-shadow(~"0 2px 6px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,.1)");
	.navbar-inner {
		
		.brand {
			padding-bottom:10px;
		}
		.nav {
			
			li {
				a {
					color:#eee;
					font-family:tahoma;
					line-height:22px;
					font-weight:200;
					font-size:0.9em;
					text-transform:uppercase;
				}		
			}
			li.dropdown {
				ul {
				
					a {
						color:#222;
						text-transform:none;	
						&:hover {
							background-color:#f0f0f0;
						}
					}
				}
			}
		}
		
	}	
}


// Notes

.notes_wrapper {
	h1 {
		font-weight:400;
		font-size:1.8em;
	}
}

@column_gap:10px;

ul.notes_list {
	padding-top:20px;
	list-style-type:none;
	margin:0;
	li {
		padding:20px;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		background: #fefefe;
		background-image: linear-gradient(45deg, #FFF, #F9F9F9);
		font-size:1.1em;
		line-height:1.1em;
		.meta {
			padding:5px 0;
			font-size:0.9em;
			color:#777;
		}
	}
}

ul.notes_board {
	padding-top:20px;
	margin:0;
	list-style-type:none;
	-moz-column-count: 4;
	-moz-column-gap: @column_gap;
	-moz-column-fill: balance;
	-webkit-column-count: 4;
	-webkit-column-gap: @column_gap;
	-webkit-column-fill: balance;
	column-count: 4;
	column-gap: @column_gap;
	column-fill: balance;


	li.sticky {
		-moz-column-break-inside: avoid;
		-webkit-column-break-inside: avoid;
		column-break-inside: avoid;
		display: inline-block;
		margin: 0 2px 15px 0;
		padding: 15px;
		border: 2px solid #fafafa;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		background: #fefefe;
		background-image: linear-gradient(45deg, #FFF, #F9F9F9);
		width:300px;
		font-size:1.1em;
		line-height:1.1em;
		white-space:wrap;
		cursor:pointer;
		box-sizing:border-box;
		min-height:100px;
		border-radius:2px;
		.meta {
			padding:5px 0;
			font-size:0.7em;
			color:#777;
		}
		.actions {
			position:absolute;
			right:0;
			top:0;
			padding:5px;
			#gradient > .vertical(#f0f0f0, #eee);
			.border-radius(0 5px 0 5px);
			border:1px solid rgba(0, 0, 0, 0.02);
			width:100px;
			font-size:0.8em;
			a {
				color:#777;
				width:46px;
				display:inline-block;
				text-align:center;
				&:first-child {
					border-right:1px solid rgba(0, 0, 0, 0.1);
				}
			}
		}
	}
}

.btn-sticky {

}

#post_new_message {
	textarea {
		width:98%;
		display:block;
		height:80px;
	}
	form {
		margin:0;
	}
}

#note_details_card {
	.modal-body {
		font-size:1.4em;
		font-weight:300;
		color:#333;
		padding:40px 20px;
	}
}

.bookmarks {
	h1 {
		font-weight:400;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		li {
			margin:10px 0;
			a {
				font-size:1.2em;
			}
		}
	}
}


.hash-tag {
	color:#999;
	&:hover {
		color:#777;
		text-decoration:none;
	}
}


@import "./bootstrap/responsive.less";