@import 'bootstrap/bootstrap';
@import 'web';

#main {

}

img.logo {
	width:100px;
	margin:0 auto;
	display:block;
	padding:15px;
}

// Stage

#stage {
	margin:15px 0 0 0;
}

// Notes

ul.notes {
	padding-top:20px;
	list-style-type:none;

	li {
		margin:20px 0;
		.meta {
			padding:5px 0;
			font-size:0.7em;
			color:#777;
		}
	}
}
