//Website

.web-logo {
	width:200px;
	position:absolute;
	right:25px;
	top:25px;
	font-size:5em;
	background:url('/img/sticky-symbolx64.png') 0px 0px no-repeat;
	padding-left:80px;
	padding-bottom:20px;
	line-height:1.15em;
	margin:0 auto;
}

.web-header {
	position:absolute;
	right:80px;
	top:150px;
	height:200px;
	text-align:right;
	h1 {
		font-weight:normal;
		padding-top:20px;
		font-size:4em;
		max-width:400px;
		padding-bottom:10px;
		color:#000;
	}
	h2 {
		font-weight:normal;
		max-width:400px;
		font-size:3em;
		color:#333;
		padding-bottom:20px;
	}
}

.web-scope {
	height:100%;
	img {
		margin:auto;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
	}
}

.web-content {
	width:900px;
	margin:0 auto;
	overflow:auto;
	height:100%;
}

.web-ui {
	width:100%;
	background:url('/img/furley_bg.png');	
	padding:150px 0;
	overflow:auto;
	h1 {
		padding:0;
		margin:0;
	}
	img.screenshot {
		float:right;
		border:1px solid rgba(0, 0, 0, 0.15);
	}
}

.web-access {
	width:100%;
	height:400px;
	background:url('/img/dark_wall.png');
	ul {
		margin:100px 0 0 0;
		padding:0;
		list-style-type:none;
		width:100%;
		li {
			box-sizing:border-box;
			text-align:center;
			width:33%;
			display:inline-block;
			h1 {
				color:#f0f0f0;
				margin-top:25px;
			}
		}
	}
		
}

.web-footer {
	width:100%;
	height:350px;
	background-color:#111;
	.web-footer-logo {		
		width:200px;
		position:relative;
		padding-left:80px;
		padding-bottom:20px;
		font-size:5em;
		background:url('/img/sticky-symbolx64.png') 0px 0px no-repeat;
		line-height:1.15em;
		color:#fff;
		margin-left:50px;
		margin-top:100px;
	}
}
