//Website

html, body, .wrap { height: 100%;}
body > .wrap {height: auto; min-height: 100%;}

#logo {
	//THIS IS A TEST
	width: 374px;
	height: 330px;
	background: -webkit-linear-gradient(top, #07ADE1 0%, #07A6DC 70%, #0676BB);
	background:    -moz-linear-gradient(top, #07ADE1 0%, #07A6DC 70%, #0676BB);
	background:     -ms-linear-gradient(top, #07ADE1 0%, #07A6DC 70%, #0676BB);
	background:      -o-linear-gradient(top, #07ADE1 0%, #07A6DC 70%, #0676BB);
	background:         linear-gradient(top, #07ADE1 0%, #07A6DC 70%, #0676BB);
	box-shadow: 0 44px 0 #035D90;
	border-radius: 105px;
	padding: 55px;
 
	position: relative;
	margin: 0 auto 100px auto;
}
.white {
	background: #fff;
	height: 100%;
	width: 100%;
	border-radius: 50px;
	position: relative;
}
 
.left_scope,
.right_scope {
	background: #4D4D4D;
	height: 57px;
	width: 127px;
	top: 41px;
	z-index:10;
	position: absolute;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
 
.left_scope { left: 45px; }
.right_scope { right: 45px; }
 
.left_scope::after,
.right_scope::after {
	bottom: -130px;
 
	content: '';
	background: #4D4D4D;
	width: 56px;
	height: 130px;
	position: absolute;
	display: block;
	right: 0;
}
 
.left_scope::after {
	left: 0;
}
 
.right_scope::after {
	right: 0;
}
 
.left_scope::before,
.right_scope::before {
	bottom: -187px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
	content: '';
	background: #4D4D4D;
	height: 57px;
	width: 127px;
	position: absolute;	
	display: block;
	left: 0;
	z-index: -1;
}

.scope {
	// #gradient > .vertical(#444, #111);
	//background:url('/img/web-bg.png');
	margin:0 auto;
	padding:25px;
	position:relative;
	text-align:center;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #fefefe;
	background-image: linear-gradient(45deg, #FFF, #F9F9F9);
	.signon {
		position:relative;
		top:2px;
	}
	h1 {
		color:#333;
		font-weight:200;
		font-size:2em;
		margin-bottom:10px;
	}
	
	.row-fluid {
		padding-top:15%;
	}
	.logo {
		font-family:"bebas-neue";
		letter-spacing:.02em;
		text-align:center;
		font-size:92px;
		img {
			display:block;
			margin:0 auto;
		}
	}
	.take-action {
		.well {
			background-color:#333;
			margin-top:15px;
			ul {
				margin:0; padding:0;
				color:#eee;
				list-style-type:none;
				li {
					font-weight:300;
					padding:2px 0;
					font-size:1.1em;
					small {
						color:#ccc;
						font-size:0.9em;
					}
					.number {
						color:#b6ff76;
						font-size:1.1em;
						font-weight:bold;
					}
				}
			}
		}
	}
}

.login-form {
	.border-radius(5px);
	background-color:@white;
	padding:15px 15px 2px 15px;
	margin:100px 0 0 0;

	h3 {
		margin-bottom:15px;
		font-weight:400;
	}
}

.btn-google {
	img {
		width:16px;
		height:16px;
		position:relative;
		top:-2px;
		left:-4px;
	}
}

.web-content {
	margin-top:60px;
	text-align:center;
}
