//Website

.scope a {
	color:#fff;
}

.scope.container-fluid {
	background:#242424 url('/img/plank-background.png') repeat;
	height:400px;
}


.scope .logo {
	float:left;
	width:190px;
}

.scope .nav {
	background:rgba(0,0,0,.5);
	float:right;
	.border-radius(6px);
	margin-top:20px;
	color:#fff;
}

.scope .nav li {
	display:inline-block;
	padding:10px;
	font-size:1.2em;
}

.scope .body-unit {
	padding:150px 0 50px 0;
	width:700px;
	margin:0 auto;
}

.scope .body-unit .verbage {
	width:450px;
	float:right;
	text-align:left;
	padding:0;
	margin:0;
}

.scope .body-unit h1 {
	color:#fff;
	font-weight:100;
}

.scope .body-unit h1 b {
	color:#fff;
	font-weight:500;
}

.scope .body-unit .verbage .btn {
	font-size:1.4em;
	margin-top:20px;
}

// Overview section

.overview {
	margin-top:50px;
}

.overview h3 {
	margin-bottom:15px;
	font-weight:500;
}

.login-form {
	.border-radius(5px);
	background-color:@white;
	padding:15px;
	margin:50px 0 0 0;
}