<!DOCTYPE html>
<html>
  <head>
    <title>Sticky</title>

    <meta charset='utf-8' />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/sticky-symbolx114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/sticky-symbolx72.png">
    <link rel="shortcut icon" href="/img/sticky-symbolx256.png.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script type="text/javascript" src="https://use.typekit.com/yii1iog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta http-equiv="cleartype" content="on">

    <%- css('mobile') %>
  </head>
  <body class="web">
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div class="logo web-logo">STICKY</div>

    <div class="web-header">
      <h1>Take better notes in Gmail</h1>
      <h2 class="tk-proxima-nova-sc-osf-ext-cond">Sticky is a natural way to take quick notes, right from Google Talk.</h2>
      <a href='#' onclick="window.location.href='/auth/google'" class="signon btn btn-large btn-primary"><img src="/img/google_icon.png" /> Sign in with Google</a>
    </div>
  </body>
</html>