@import 'bootstrap/bootstrap';
@import 'calendar';

@outer-margin:30px;
@body-gap:80px; // distance from the top of the page, needed because the header is position:fixed
@sidebar-width:150px;
@inbox-min-width:452px;
@expanded-view-width:450px;
@stack-dragover-color:#f7f4ea;
@selected-note-color:#edffe2;

html {
	height:100%;

}

body {
  font-family:ratio, "Helvetica Neue", Helvetica, sans-serif;
	height:100%;
}

body.drop {
	background:@stack-dragover-color;
}

.alert {
	margin-bottom:0;
}	

.logo {
	font-family:"bebas-neue", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing:.02em;
	font-size:1.8em;
	color:#000;
	line-height:1.15em;
	z-index: 12;
	position:absolute;
	left:10px;
	top:10px;
	height:50px;	
	background:url('/img/sticky-symbolx24.png') 0px 0px no-repeat;
	padding-left:30px;
}


code {
	color:#444;
}

pre {
	.border-radius(0);
	border:0;

}

.row-fluid .sidebar-wrapper.span2 {
	width: 14.529914530000001% + 2.564102564%;
    *width: 14.4767230406383% + 2.564102564%;
}


#new-sticky-header {
  border-top:2px solid rgb(171, 209, 75);
	background:rgba(255, 255, 255, 0.55);
  width:100%;
  height:45px;
  position:fixed;
  z-index:11;
  font-family: ratio;
  //border-bottom:1px solid #ccc;
  //.box-shadow(0 1px 5px rgba(100, 100, 100, 0.2);
  margin:0;
  box-sizing:border-box;
  padding-right:100px;
  ul.info-links {
  	border:0;
  	padding:0;
  	margin:0;
  	position:absolute;
  	right:15px;
  	top:13px;
  	list-style-type:none;
  	li {
  		display:inline-block;
  		margin-right:5px;
  		a {
  			font-family:"Helvetica Neue", Helvetica, sans-serif;
	  		font-size:1.05em;
  			color:#fff;
  			text-shadow:0 1px 3px rgba(0, 0, 0, 0.6);
  			letter-spacing:0.05em;
  		}
  	}
  }
  
	form { margin:0; padding:0 }
	.transition(top ease-out .4s);

	.inbox-controls {
		font-size:0.9em;
		.box-shadow(0 1px 5px rgba(100, 100, 100, 0.3);
		padding:10px;
		box-sizing:border-box;
		border-top:1px solid rgba(0, 0, 0, 0.1);
		border-bottom:1px solid rgba(0, 0, 0, 0.1);
		height:55px;
		margin-top:43px;
		width:100%;
		position:absolute;
		border-bottom:1px solid #ddd;
		background-color:#fff;
		.new-note {
			float:left;
			top:2px;
			position:relative;
			padding:4px 15px;
			width:150px;
			box-sizing:border-box;
			font-family:"Helvetica Neue", Helvetica, sans-serif;
			.border-radius(0px);
			border:1px solid #eee;
			background-color:lighten(@red, 25%);
			color:#fff;

		}
		.btn-toolbar {
			margin:2px 0 0 170px;
			.btn {
				.border-radius(0px);
				border:1px solid #eee;
			}
			.single {
				.border-radius(4px);
			}
			ul.tags {
				max-height:400px;
				overflow:auto;
			}
		}
		.search {
			position:relative;
			display:inline-block;
			top:-11px;
			left:4px;
			form {
				margin:0;
				padding:0;	
				float:none;
				input[name=keyword] {
					width:300px;
					line-height:1.6em;
					background-color:#fff;
					border:1px solid #eee;
					.border-radius(0px);
					padding:13px 8px;
					box-sizing:border-box;
				}
			}
		}
		span.icon-pound {
			font-family:Arial;
			font-weight:bold;
			font-size:1.3em;
			line-height:1.1em;
		}
		.profile {
			float:right;
			position:relative;
			right:15px;
			top:-4px;
			box-sizing:border-box;
			.border-radius(5px);
			a {
				line-height:3.5em;
				color:#666;
				font-family:"Helvetica Neue", Helvetica, sans-serif;
			}
			i {
				float:left;
				position:relative;
				top:3px;
				img {
					.border-radius(25px);
					margin-right:5px;
					display:block;
					border:1px solid #333;	
				}
			}
		}
	}
}


.unknown-group-link {
	color:#999;
	border-bottom:1px dashed #999;
	&:hover {
		text-decoration:none;
		color:#777;
	}
}

.main-wrapper {
  height:100%;
  width:100%;
	padding:0;
}

.help-block {
	font-size:0.9em;
	color:#999;
	margin-top:-5px;
}

// Notebooks

#notebook {
	a.delete {
		position:relative;
		top:3px;
	}
	ul.colors {
		margin:0 0 10px 0;
		padding:0;
		cursor:pointer;
		
		li.none { border:1px dashed #999; }
		li.green { background-color:@green; border:1px solid @green; }
		li.orange { background-color:@orange; border:1px solid @orange; }
		li.blue { background-color:@blue; border:1px solid @blue; }
		li.yellow { background-color:@yellow; border:1px solid @yellow; }
		li.red { background-color:@red; border:1px solid @red; }
		li.selected { border:2px solid #000; }

		li {
			width:16px;
			height:16px;
			display:inline-block;
			&:hover {
				border-color:#000;
			}
		}
	}
}

@import 'structure';
@import 'notes-board';

.number-porn2 {
	font-family:"bebas-neue", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing:.02em;
	box-sizing:border-box;
	color:#fff;
	height:33px;
	width:33px;
	display:block;
	.border-radius(33px);
	background:@darkStickyGreen;
	border:3px solid #eee;
	position:absolute;
	text-align: center;
	vertical-align: middle;
	line-height:1.75em;
	font-size:1.20em;
	right:-2px;
	top:0px;
	text-decoration: none;
	.box-shadow(0 0px 3px rgba(125, 125, 125, 0.3);
}

.number-porn {
	font-family:"bebas-neue", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing:.02em;
	box-sizing:border-box;
	color:@darkStickyGreen;
	display:block;
	position:absolute;
	text-align: center;
	vertical-align: middle;
	line-height:1em;
	font-size:1.6em;
	right:0px;
	top:-2px;
	text-decoration: none;
	&:after {
		content:" notes";
		font-size:0.8em;
	}
}

// Modals
.modal {
	padding:20px;
	form {
		margin-bottom:0;	
	}
	.modal-header {
		.close {
			position:absolute;
			right:5px;
			top:5px;
		}
	}
	.modal-body {
		padding-bottom:0;
		textarea {
			width:100%;
			padding:5px;
			box-sizing:border-box;	
		}
		.controls {
			margin-bottom:15px;
		}
	}
	.modal-footer {
		text-align:left;
		margin:0;
		padding-top:0;	
	}
	.carousel {
		.item {
			padding:0 25px;
			height:350px;
			box-sizing:border-box;
			img {
				margin:0 auto;
				display:block;
				border:1px solid #ccc;
				.box-shadow(0 2px 5px #eee);
			}
		}
		.carousel-control {
			height:20px;
			width:20px;
			font-size:30px;
			line-height:15px;
		}
		.carousel-control.left {
			left:-15px;
		}
		.carousel-control.right {
			right:-15px;
		}
	}
}


#post_new_message {
	padding:10px;
	textarea {
		width:100%;
		display:block;
		height:80px;
		margin:0;
	}
	.modal-footer {
		padding-top:10px;
	}
	.is_parent {
		background-color:#f0f0f0;
		margin-top:10px;
		padding:5px;
		border:1px solid #e0e0e0;
		.border-radius(5px);
		color:#777;
		font-size:0.87em;
	}
	
	form {
		margin:0;
	}
}

.hash-tag {
	color:#999;
	&:hover {
		color:#777;
		text-decoration:none;
	}
}

i.icon-tweet {
	background:url('/img/glyphicons_392_twitter.png') no-repeat;
}

.dragging {
	.rotate(-2deg);
	border:1px solid rgba(0, 0, 0, 0.15);
	position:absolute;
	z-index:19999

}

span.label.green { background-color:@green; }
span.label.blue { background-color:@blue; }
span.label.yellow { background-color:@yellow; }
span.label.orange { background-color:@orange; }
span.label.red { background-color:@red; }


@import "./bootstrap/responsive.less";
@import 'help';
@import 'users';
@import 'welcome';
@import 'web';
@import 'themes';

