@import 'bootstrap/bootstrap';
@import 'calendar';

@outer-margin: 30px;
@body-gap: 80px; // distance from the top of the page, needed because the header is position:fixed
@sidebar-width: 150px;
@inbox-min-width: 502px;
@expanded-view-width: 400px;

html {
	height:100%;
}

body {
  font-family:ratio, "Helvetica Neue", Helvetica, sans-serif;
	height:100%;
	overflow:hidden;
	background:url('/img/furley_bg.png');
	box-sizing:border-box;
}


body.drop {
	//border: 2px solid rgba(82,168,236,.8);
	background:#f7f4ea;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	background: rgba(204,204,204, 0.5);
	border: 1px solid #fff;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(204,204,204, 0.5);
}

.alert {
	margin-bottom:0;
}	

.logo {
	font-family:"bebas-neue", "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing:.02em;
	font-size:1.8em;
	color:#000;
	line-height:1.15em;
	z-index: 12;
  position:absolute;
  right:35px;
  top:15px;
	height:50px;	
	background:url('/img/sticky-symbolx24.png') 0px 0px no-repeat;
	padding-left:30px;
}


code {
	color:#444;
}

pre {
	.border-radius(0);
	border:0;

}

.row-fluid .sidebar-wrapper.span2 {
	width: 14.529914530000001% + 2.564102564%;
    *width: 14.4767230406383% + 2.564102564%;
}


#new-sticky-header {
  border-top:2px solid rgb(171, 209, 75);
	background:rgba(255, 255, 255, 0.96);
  padding:14px;
  width:100%;
  position:absolute;
  background-color:#fff;
  z-index:11;
  font-family: ratio;
  border-bottom:1px solid #ccc;
  .box-shadow(0 1px 3px rgba(100, 100, 100, 0.2);
  font-size:1.6em;
  margin:0;
  line-height:1.2em;
  box-sizing:border-box;
  padding-right:100px;
  &:focus {
  	outline:none;
  }
	form { margin:0; padding:0 }
}

#new-sticky-header.idle {
	color:#ccc;
}

.unknown-group-link {
	color:#999;
	border-bottom:1px dashed #999;
	&:hover {
		text-decoration:none;
		color:#777;
	}
}

.main-wrapper {
  height:100%;
  width:100%;
	padding:0;
}

// Notebooks

#notebook {
	a.delete {
		position:relative;
		top:3px;
	}
	ul.colors {
		margin:0 0 10px 0;
		padding:0;
		cursor:pointer;
		
		li.none { border:1px dashed #999; }
		li.green { background-color:@green; border:1px solid @green; }
		li.orange { background-color:@orange; border:1px solid @orange; }
		li.blue { background-color:@blue; border:1px solid @blue; }
		li.yellow { background-color:@yellow; border:1px solid @yellow; }
		li.red { background-color:@red; border:1px solid @red; }
		li.selected { border:2px solid #000; }

		li {
			width:16px;
			height:16px;
			display:inline-block;
			&:hover {
				border-color:#000;
			}
		}
	}
}

// Main

#main {
 	height:100%;
	min-height:500px;
	width:100%;
  //min-width:900px;
	display:table;
	box-sizing:border-box;
	position:fixed;
	padding:@body-gap @outer-margin @outer-margin @outer-margin;


	#sidebar {
    //box-shadow: inset -3px -3px 5px 0px rgba(0, 0, 0, 0.3);
    //border-top:1px solid rgba(0, 0, 0, 0.15);
    //border-left:1px solid rgba(0, 0, 0, 0.15);
    //border-bottom:1px solid rgba(0, 0, 0, 0.15);
    box-sizing:border-box;
    //#gradient > .vertical(#444, #555);
		min-width:@sidebar-width;
		max-width:@sidebar-width;
		width:@sidebar-width;
		display:table-cell;
    color:#fff;
		z-index:10;
		position:relative;
		vertical-align:top;
			
		.profile {
			padding:10px;
			i {
				float:left;
			}
			.details {
				font-family:Helvetica Neue;
				color:#ccc;
				font-size:0.9em;
				margin-left:40px;
				a {
					color: #eee;
					padding-right:5px;
				}
			}
		}

		.date-picker {
			padding:0 10px;
			font-size:0.9em;
			position:absolute;
			bottom:0;
			background-color:rgba(0, 0, 0, 0.2);
			box-sizing:border-box;
			width:200px;
		}


		ul.sidebar-nav {
      list-style-type:none;
      margin:0;
			//padding:5px 0;
			position:fixed;
			width:200px;
			left:0;
			li.add-notebook {
				a {
					font-size:0.9em;
					color:#999;
				}
			}
      li {
				position:relative;
      	padding:10px 10px;
				background:url('/img/dark_wall.png');
				margin:2px 0 2px 0;
				float:left;
				left:-25px;
				clear:both;
				.border-radius(0 5px 5px 0);
        a {
					color:rgba(255, 255, 255, 0.8);
        }
				i {
					margin-left:5px;
				}
				&:first-child {
					padding-right:8px;
				}
      }
			li.green { background:@green; }
			li.blue { background:@blue; }
			li.yellow { background:@yellow; }
			li.orange { background:@orange; }
			li.red { background:@red; }
			li.selected { 
				//#gradient > .vertical(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
				a {
					font-weight:bold;
					color:#fff;
				}
			}
    }
		
		ul.sidebar-nav.focus {
			li {
				.transition(left ease-in-out .6s);
				left:0;
			}
			li:hover {
				.transition(padding-left ease-in-out .4s);
				padding-left:15px;
			}
		}

		.add-group {
			font-size:0.9em;
			display:block;
			padding:15px;
			color:#ccc;
		}

  }

  #inbox {
    box-sizing:border-box;
    //background:#fff url('/img/furley_bg.png');
    .border-radius(5px 0px 0px 5px);
		border-left:1px solid rgba(0, 0, 0, 0.2);
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
    min-width:@inbox-min-width;
    height:100%;
		display:table-cell;
		z-index:10;
		vertical-align:top;
		position:relative;
		overflow:hidden;
		.box-shadow(-1px 1px 3px rgba(100, 100, 100, 0.2));
		#stage {
			background-color:#fff;
			height:100%;
			overflow:auto;
			box-sizing:border-box;
		}
		.inbox-controls {
			padding:10px;
			box-sizing:border-box;
			border-top:1px solid rgba(0, 0, 0, 0.1);
			border-bottom:1px solid rgba(0, 0, 0, 0.1);
			height:55px;
			position:relative;
			z-index:11;
			#gradient > .vertical(#fff, #eee);
    	.border-radius(5px 0 0 0);
			.btn-toolbar {
				margin:2px 0 0 0;
				.single {
					.border-radius(4px);
				}
				ul.tags {
					max-height:400px;
					overflow:auto;
				}
			}
			.search {
				
				form {
					margin:0;
					padding:0;	
					float:none;
					input[name=keyword] {
						line-height:1.6em;
						background-color:#fff;
						.border-radius(8px);
						padding:13px 8px;
						box-sizing:border-box;
					}
				}
			}
			span.icon-pound {
				font-family:Arial;
				font-weight:bold;
				font-size:1.3em;
				line-height:1.1em;
			}
		}
  }

  #expanded-view {
		width:@expanded-view-width;
    box-sizing:border-box;
		display:table-cell;
    //background:#fff url('/img/furley_bg.png');
    background:rgba(255, 255, 255, 0.4);
		vertical-align:top;
		border-top:1px solid rgba(0, 0, 0, 0.1);
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		border-right:1px solid rgba(0, 0, 0, 0.2);
		border-left:1px solid rgba(0, 0, 0, 0.2);
		.box-shadow(1px 1px 3px rgba(100, 100, 100, 0.2));

		overflow:hidden;
    .border-radius(0 5px 5px 0);
		.expanded-wrapper {
			height:100%;
			overflow:auto;
			padding-bottom:55px;
		}
		.expanded-actions {
			box-sizing:border-box;
			height:54px;
			padding:10px;
    	.border-radius(0 5px 0 0);
			border-bottom:1px solid rgba(0, 0, 0, 0.1);
			#gradient > .vertical(#fff, #eee);
			.btn-toolbar {
				margin:2px 0 0 0;
			}
			font-family:Helvetica Neue;
			a {
				height:28px;
				box-sizing:border-box;
			}
		}
		.expanded-note {
			border-bottom:1px solid rgba(0, 0, 0, 0.1);
			position:relative;
			z-index:10;
			background-color:#fff;
			#editable-message {
				padding:25px 15px;
				-webkit-appearance:none;
				white-space:pre-wrap;
				&:focus {
					outline:none;
					.box-shadow(none);
				}
		 	}
		}
		.timeline {
			list-style-type:none;
			padding:0;
			margin:0;
			position:relative;
			li {
				position:relative;
				margin:10px;
				background-color:#fff;
				border-bottom:1px solid #ccc;
				padding:10px 15px 10px 10px;
				.timestamp {
					color:#999;
					font-size:0.75em;
					font-family:Helvetica Neue;
					box-sizing:border-box;
					position:absolute;
					right:15px;
				}
			}
  	}
		#save-notice {
			float:right;
			position:relative;
			top:7px;
			right:15px;
		}
	}
	#expanded-view.stack {
		//border: 2px solid rgba(82,168,236,.8) !important;
		background:#f7f4ea;
	}
}


// Notes



ul.notes_board {
	margin:0;
	list-style-type:none;
	width:100%;
	.completed {
		text-decoration: line-through;
	}
	
  li.card {
	  border-bottom:1px solid #e0e0e0;
		word-wrap: break-word;
		padding:5px 0;		
		display: inline-block;
		//border: 1px solid #ddd;
		//.box-shadow(0 1px 2px rgba(34, 25, 25, 0.4));
		font-size:1.1em;
		line-height:1.1em;
		box-sizing:border-box;
		word-wrap: break-word;
		position:relative;
		width:100%;
		background-color:#fff;
		.avatar {
			margin-right:15px;
		}
		&:hover {
			.sticky-action { display:inline-block; }
		}	
		.sticky-actions {
			position:absolute;
			top:10px;
			right:10px;
			.dnd {
				cursor:move;
			}
		}
		.delete {
			position:absolute;
			top:5px;
			right:5px;
			opacity:0.5;
		}
		.pole-position {
			padding-bottom:10px;
		}
		i.icon-time {
			position:absolute;
			right:11px;
			margin-top:-15px;
			opacity:0.5;
		}
		.message {
			padding:15px 25px 5px 15px;
			white-space:pre-line;
			i {
				position:absolute;
				right:0;
				top:2px;
				padding:0 2px;
			}
			input[type=checkbox] {
				margin-right:4px;
			}
			&:empty {
				padding:0 15px 15px 15px;
			}
		}
		.link {
			padding:5px 15px 5px 15px;
			img {
				margin-top:-3px;
				display:inline-block;
			}
		}
		.subnote {
			color:#777;
      position:relative;
			&:before {
				content:"";
				.border-radius(5px);
				height:5px;
				width:5px;
				border:1px solid #ccc;
				background-color:#fff;
				display:block;
				position:absolute;
				z-index:9;
				right:15px;
				top:10px;
			}
			.timeline-pole {
				width:1px;
				position:absolute;
				right:18px;
				background-color:#ccc;
				height:100%;
			}
			.message {
				padding:5px 15px;
			}
			.dnd {
				position:absolute;
				top:10px;
				right:12px;
				cursor:move;
				z-index:10;
			}
			&:hover {
				.dnd { display:block }
			}
		}
		.meta {
			width:100%;
			padding:5px 15px 10px 15px;
			font-size:0.8em;
			color:#999;
			font-family:Helvetica Neue;
			box-sizing:border-box;
			iframe {
				position:relative;
				top:7px;
				opacity:0.7;
				&:hover {
					opacity:1;
				}
			}

			.created_at {
				margin-right:2px;
				float:right;
			}
		}
	}	
	li.stack {
		background:#f7f4ea;
		//border: 2px solid rgba(82,168,236,.8) !important;
		//.transition(border linear .2s);
	}
	li.green { border-left:2px solid @green; }
	li.blue { border-left:2px solid @blue; }
	li.yellow { border-left:2px solid @yellow; }
	li.orange { border-left:2px solid @orange; }
	li.red { border-left:2px solid @red; }
}

ul.notes_board:last-child {
	padding-bottom:55px;	
}

// Modals

.modal {
	padding:20px;
	form {
		margin-bottom:0;	
	}
	.modal-header {
		.close {
			position:absolute;
			right:5px;
			top:5px;
		}
	}
	.modal-body {
		padding-bottom:0;
		textarea {
			width:100%;
			padding:5px;
			box-sizing:border-box;	
		}
		.controls {
			margin-bottom:15px;
		}
	}
	.modal-footer {
		text-align:left;
		margin:0;
		padding-top:0;	
	}
	.carousel {
		.item {
			padding:0 25px;
			height:350px;
			box-sizing:border-box;
			img {
				margin:0 auto;
				display:block;
				border:1px solid #ccc;
				.box-shadow(0 2px 5px #eee);
			}
		}
		.carousel-control {
			height:20px;
			width:20px;
			font-size:30px;
			line-height:15px;
		}
		.carousel-control.left {
			left:-15px;
		}
		.carousel-control.right {
			right:-15px;
		}
	}
}


#post_new_message {
	padding:10px;
	textarea {
		width:100%;
		display:block;
		height:80px;
		margin:0;
	}
	.modal-footer {
		padding-top:10px;
	}
	.is_parent {
		background-color:#f0f0f0;
		margin-top:10px;
		padding:5px;
		border:1px solid #e0e0e0;
		.border-radius(5px);
		color:#777;
		font-size:0.87em;
	}
	
	form {
		margin:0;
	}
}

.hash-tag {
	color:#999;
	&:hover {
		color:#777;
		text-decoration:none;
	}
}

i.icon-tweet {
	background:url('/img/glyphicons_392_twitter.png') no-repeat;
}

.dragging {
	.rotate(-2deg);
	border:1px solid rgba(0, 0, 0, 0.15);
	position:absolute;
	z-index:19999

}

//
// Settings
ul.settings {
	list-style-type:none;
	margin:0 auto;
	padding:0;	
	width:95%;
	li {
		padding:10px 5px;
	}
}

//
// Welcome 
#welcome {
	.modal-body {
		padding:0;
		max-height:380px;
	}
	.item {
		padding:0;
		.example:first-child {
				margin-top:25px;
		}
		.example {
			font-size:1em;
			color:#555;
			border-bottom:1px dotted #444;
			width:50%;
			margin-top:15px;
			padding-bottom:1px;
			.notebook {
				color:@linkColor;
			}
			.tag {
				color:#999;
			}
		}
	}
	.gchat-example {
		margin-top:25px;
	}
	h1 {
		font-weight:normal;
	}
	img {
		display:block;
		.box-shadow(none);
		border:1px solid #555;
	}
}

@import 'web';
@import "./bootstrap/responsive.less";


