.date-picker {
	height:160px;
	position:absolute;
}

div.datepicker {
	font-size: 0.9em;
	font-family:Helvetica Neue;
	width: 200px;
	height: 160px;
	cursor: default;
	top: 22px;
	left: 0;
	margin:10px auto 20px auto;
	box-sizing:border-box;

}
.datepickerContainer {
	width:200px;
	height:160px;
	padding:5px;
	box-sizing:border-box;
	.box-shadow(0 0 10px #eee);
	border:1px solid rgba(0, 0, 0, 0.15);
	.border-radius(5px);
	background-color:#fff;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	width:100%;
	height:100%;
}
div.datepicker a {
	color: #777;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #888;
	font-weight: normal;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	//width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	//width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #ccc;
}
tbody.datepickerDays td.datepickerSelected{
	//background: #136A9F;
	background: rgba(171, 209, 75, 0.5);
	a {
		color:#444;
	}
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #eee;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #eee;
}
div.datepicker a:hover,
div.datepicker a:hover {
	//color: #88c5eb;
	color:rgb(171, 209, 75);
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #ccc;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}
