#expanded-view {
	width:@expanded-view-width;
  box-sizing:border-box;
  //display:none;
	//display:table-cell;
  //background:#fff url('/img/furley_bg.png');
  
  position:fixed;
  right:200px;
  margin-top:25px;
	vertical-align:top;
	height:100%;
	//overflow:hidden;
	.border-radius(5px);
	border:1px solid rgba(0, 0, 0, 0.1);
	.box-shadow(-1px 1px 5px rgba(100, 100, 100, 0.2));
	background-color:#fff;
	z-index:11;
  .expanded-view-anchor {
  	//.transition(top ease-in .2s);
  }
	.expanded-wrapper {
		//background-color:rgb(245, 245, 245);
		//background: rgb(243,243,243); /* Old browsers */
		//background: -moz-linear-gradient(left,  rgba(243,243,243,1) 0%, rgba(250,250,250,1) 50%, rgba(204,204,204,1) 51%, rgba(250,250,250,1) 51%, rgba(243,243,243,1) 100%); /* FF3.6+ */
		//background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(243,243,243,1)), color-stop(50%,rgba(250,250,250,1)), color-stop(51%,rgba(204,204,204,1)), color-stop(51%,rgba(250,250,250,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
		//background: -webkit-linear-gradient(left,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 50%,rgba(204,204,204,1) 51%,rgba(250,250,250,1) 51%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
		//background: -o-linear-gradient(left,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 50%,rgba(204,204,204,1) 51%,rgba(250,250,250,1) 51%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
		//background: -ms-linear-gradient(left,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 50%,rgba(204,204,204,1) 51%,rgba(250,250,250,1) 51%,rgba(243,243,243,1) 100%); /* IE10+ */
		//background: linear-gradient(to right,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 50%,rgba(204,204,204,1) 51%,rgba(250,250,250,1) 51%,rgba(243,243,243,1) 100%); /* W3C */
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-9 */
	}
	
	.expanded-actions {
		box-sizing:border-box;
		height:54px;
		padding:10px;
		position:relative;
		//border-bottom:1px solid rgba(0, 0, 0, 0.1);
		//#gradient > .vertical(#fff, #eee);
		border-bottom:1px solid #ddd;
		//.box-shadow(0 1px 3px rgba(125, 125, 125, 0.2);
		background-color:#73a9ff;
		.border-radius(5px 5px 0 0);
		.btn-toolbar {
			margin:2px 0 0 0;
			.btn {
				.border-radius(0);
				background-color:#468bff;
				color:#fff;
				text-shadow:0 1px 1px rgba(0, 0, 0, 0.65);
				&:hover {
					border-color:rgba(0, 0, 0, 0.25);
				}
			}
		}
		font-family:"Helvetica Neue";
		a {
			height:28px;
			box-sizing:border-box;
		}
	}
	.expanded-note {
		position:relative;
		z-index:10;
		background-color:#fff;
		#editable-message {
			padding:25px 15px;
			-webkit-appearance:none;
			white-space:pre-wrap;
			//.box-shadow(0 2px 5px rgba(0, 0, 0, 0.08));
			border-bottom:1px solid rgba(0, 0, 0, 0.15);
			margin-bottom:5px;
			&:focus {
				outline:none;
			}
	 	}
	}
	.timeline-wrapper {
		height:100%;
		overflow:auto;
		box-sizing:border-box;
		position:relative;
	}
	.timeline {
		list-style-type:none;
		padding:0;
		margin:0;
		position:relative;
		font-size:0.95em;
		line-height:0.95em;
		overflow:auto;
		height:100%;
		li.card {
			position:relative;
			z-index:8;
			margin:0;
			background-color:#fff;
			//margin:10px;
			padding:15px;
			.box-shadow(0 1px 3px rgba(0, 0, 0, 0.08));
			border-bottom:1px solid rgba(0, 0, 0, 0.15);
			outline:none;
			.timestamp {
				color:#999;
				font-size:0.8em;
				font-family:"Helvetica Neue", Helvetica, sans-serif;
				box-sizing:border-box;
				line-height:2em;
			}
			.drag-handle {
				margin:3px -2px 0 5px;
			}
			.message {
				outline:none;
				margin-right:60px;
			}
		}
		li.empty {
			text-align:center;
			font-size:1.2em;
			color:#999;
			top:10px;
		}
		li.add-subnote {
			position:relative;
			.number-porn {
				z-index:9;
				right:10px;
				top:0px;
				i {
					position:relative;
					right:6px;
					top:10px;
				}
			}
			textarea {
				border:0;
				width:100%;
				height:15px;
				margin-bottom:0;
				resize:none;
				.box-shadow(none);
				font-family:ratio, "Helvetica Neue", Helvetica, sans-serif;
				outline:none;
				-moz-appearance:none;
				-webkit-appearance:none;
			}
		}
	}
	#save-notice {
		float:right;
		position:relative;
		top:7px;
		right:15px;
	}
	#close-expanded-view {
		margin:8px 5px 0 0;
	}
}

#expanded-view.stack .expanded-wrapper {
	//border: 2px solid rgba(82,168,236,.8) !important;
	background:@stack-dragover-color;
}

#expanded-view.top {
	top:35px;
	//.transition(top ease .8s);
}
