// help flyout bar

#help {
	position:fixed;
	border-top:2px solid rgba(171, 209, 75, 0.75);
	width:240px;
	height:100%;
	right:-240px;
	top:0;
	background-color:#222;
	z-index:999;
	color:#f0f0f0;
	.transition(right ease 0.4s);
	.box-shadow(inset 0 3px 5px #111);
	h1 {
		font-family:"bebas-neue", "Helvetica Neue", Helvetica, sans-serif;
		padding:25px;
	}
	a.needs-help {
		color:#f0f0f0;
		float:right;
		padding:25px;
		margin-top:10px;

	}
	h3 {
		padding:0 25px;	
		font-weight:normal;
	}
	ul {
		padding:25px;
	}
}

.needs-help {
	#help { 
		right:0;
	}	
	#content {
		position:relative;
		right:100px;
		.transition(right ease .4s);
	}	
	#new-sticky-header {
		right:240px;
		.transition(right ease .4s);
	}
	#expanded-view {
		right:265px;
		.transition(right ease .4s);
	}
}

// olark 

#habla_window_div {
	visibility: hidden;
	right:15px;
}

#habla_window_div.visible {
	visibility: visible;	
}

.arrow_box {
	position: absolute;
	z-index:11;
	left:250px;
	top:9px;
	background: #88b7d5;
	font-size:1.4em;
	padding:8px;
	border: 2px solid #c2e1f5;
	color:#fff;
	.border-radius(0 5px 5px 0);
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;

	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;

	-moz-animation-name: bounce;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: 2;
	-moz-animation-direction: normal;

	-webkit-animation-name: bounce;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 2 ;
	-webkit-animation-direction: normal;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 17px;
	top: 50%;
	margin-top: -17px;
}

@-webkit-keyframes bounce {
	0% { margin-left:0; }
	25% { margin-left:10px; }
	50% { margin-left:0; }
	75% { margin-left:10px; }
	100% { margin-left:0; }
}​