.theme-bright-bg { background:url('/img/furley_bg.png') fixed; }
.theme-desk-bg { background:url('/img/retina_wood.png') fixed; }
.theme-den-bg { background:url('/img/dark_wood.jpeg') fixed; }
.theme-black-bg { background:url('/img/black_wood.jpeg') fixed; }

body.theme-bright {
	.theme-bright-bg();
	#new-sticky-header {
		.inbox-controls {
			.box-shadow(0 2px 4px rgba(100, 100, 100, 0.12));
			border-top:1px solid #ddd;
			border-bottom:1px solid rgba(0, 0, 0, 0.15);
		}
		ul.info-links {
			a {
				color:#333;
				text-shadow:none;
			}
		}
	}
}

body.theme-desk {
	.theme-desk-bg();
}

body.theme-den {
	.theme-den-bg();
	.logo {
		color:#ffffff;
		text-shadow:0 1px 3px rgba(0, 0, 0, 0.6);
	}

}

body.theme-black {
	.theme-black-bg();
	#new-sticky-header {
		
	}
	.logo {
		color:#ffffff;
		text-shadow:0 1px 3px rgba(0, 0, 0, 0.6);
	}
}