//
// Settings
#settings {
	
	ul.themes {
		list-style-type:none;
		margin:8px 0 0 0;
		padding:0;
		li {
			width:16px;
			height:16px;
			display:inline-block;
			cursor:pointer;
		}
		li.selected {
			border:1px solid #ccc;
		}
	}

}

