//Website

@sticky_green: #76a741;

body.web {
	overflow:auto;
}

.web-logo {
	position:absolute;
	top:25px;
	font-size:5em;
	background:url('/img/sticky-symbolx64.png') 0px 0px no-repeat;
	padding-left:80px;
	padding-bottom:20px;
	line-height:1.15em;
	margin:0 auto;
}

.web-header {
	position:absolute;
	//background:rgba(255, 255, 255, 0.1);
	top:200px;
	right:0px;
	width:40%;
	max-width:45%;
	h1 {
		font-family:"camingodos-web", sans-serif;
		padding-top:5px;
		font-size:4.5em;
		font-weight:800;
		line-height:1em;
		padding-bottom:10px;
		color:#151515;
		letter-spacing:-2px;
		margin-bottom:20px;
	}
	h2 {
		font-weight:normal;
		line-height:1em;
		font-size:3em;
		color:#2a2a2a;
		padding-bottom:20px;
		text-shadow:0px 0 25px rgba(255, 255, 255, 0.5);
		letter-spacing:-2px;
		font-family:"soleil";
	}
}

.web-scope {
	img {
		width:100%;
	}
}

.web-content {
	width:900px;
	margin:0 auto;
	height:100%;
}

.web-content.container-fluid {
	padding:0;
}

.web-ui {
	width:100%;
	background-color:#194759;
	//background-color:#296B73;
	#gradient > .vertical(#194759, #296B73);
	padding:100px 0 150px 0;
	h1 {
		padding:0;
		font-size:4em;
		color:#fff;
		font-weight:normal;
		text-align:center;
		margin-bottom:50px;
	}
	.arrow-column {
		width:150px;
		height:569;
		float:left;
		position:relative;
		margin-top:280px;
		.arrow {
			height:25px;
			width:150px;
			background-color:#ccc;
			position:absolute;
			left:30px;
			&:after {
				content:"";
				position:absolute;
				right:-60px;
				top:-17px;
				border-color: transparent transparent transparent #ccc;
				border-style: solid;
				border-width: 30px;
				width: 0;
				height: 0;
			}
		}
	}
	img.screenshot {
		border:1px solid rgba(0, 0, 0, 0.15);
		.box-shadow(0 0 8px 2px rgba(0, 0, 0, 0.1);
		.border-radius(5px);
		margin:0 auto;
		display:block;
	}
}

.web-whatis {
	width:100%;
	background-color:#fff;
	//#gradient > .vertical(lighten(skyblue, 20%), #fff);
	//background-color:skyblue;
	.box-shadow(inset 0 3px 1px rgba(0, 0, 0, 0.15);
	border-top:1px solid rgba(0, 0, 0, 0.45);
	ul {
		margin:0;
		padding:150px 0;
		list-style-type:none;
		width:98%;
		margin:0 auto;
		li {
			box-sizing:border-box;
			text-align:center;
			width:29%;
			position:relative;
			margin:2%;
			display:inline-block;
			.content {
				max-width:300px;
				margin:0 auto;
				font-size:1.2em;
			}
			h1 {
				margin-top:25px;
				font-size:1.6em;
			}
			.equation {
				position:absolute;
				right:-40px;
				top:30px;
				font-size:6em;
				font-weight:bold;
				color:#777;
			}
		}
	}
		
}

.web-ui-dnd {
	margin:0;
	min-height:500px;
	padding:60px 0 0 0;
	background-color:#eaeaea;
	position:relative;
	h1 {
		font-size:2.6em;
		text-align:center;
	}
	img {
		position:absolute;
		bottom:0;
		left:50%;
		margin-left:-412.5px;
		.box-shadow(0 0 10px #999);
	}
}

.web-closing-statement {
	min-height:200px;
	background-color:#242424;
}

.web-footer {
	width:100%;
	height:350px;
	background-color:#151515;
	.web-footer-logo {		
		width:200px;
		position:relative;
		padding-left:80px;
		padding-bottom:20px;
		font-size:5em;
		background:url('/img/sticky-symbolx64.png') 0px 0px no-repeat;
		line-height:1.15em;
		color:#fff;
		margin-left:50px;
		margin-top:100px;
	}
}
