//
// Welcome 
.welcome {
	margin:25px;
	width:700px;
	margin:50px auto;
	.number-porn {
		left:10px;
		top:25px;
	}
	.btn-primary {
		font-size:1.8em;
		padding:15px;
		display:block;
		margin:25px auto;
	}
	.welcome-section {
		position:relative;
		.border-radius(7px);
		background:rgba(56,135,181,.1);
		margin-top:20px;
		padding:20px 20px 20px 50px;
		overflow:auto;

		.verbiage {
			width:45%;
			display:inline-block;
			h2 {
			color:#454545;
			font-weight:normal;
			}
			h3 {
				font-size:18px;
				font-weight:normal;
				line-height:16px;
				margin-bottom:20px;
				color:#767676;
			}
		}
		.screenshot {
			border-radius:7px;
			padding:0;
			margin:0;
			float:right;
		}
	}
	/*
	.item {
		padding:0;
		.example:first-child {
				margin-top:25px;
		}
		.example {
			font-size:1em;
			color:#555;
			border-bottom:1px dotted #444;
			width:50%;
			margin-top:15px;
			padding-bottom:1px;
			.notebook {
				color:@linkColor;
			}
			.tag {
				color:#999;
			}
		}
	}
	.gchat-example {
		margin-top:25px;
	}
	h1 {
		font-weight:normal;
	}
	img {
		display:block;
		.box-shadow(none);
		border:1px solid #555;
	}
	*/
}
