//
// Welcome 
.welcome {
	width:700px;
	margin:50px auto;
	padding:25px 25px 100px 25px;
	background:rgba(255,255,255,.8);
	position:relative;
	.box-shadow(0 3px 5px rgba(0, 0, 0, 0.1));

	.logo {
		right:25px;
		top:25px;
	}
	.number-porn-circle {
		left:10px;
		top:25px;
	}
	.btn-primary {
		font-size:1.8em;
		padding:15px;
		display:block;
		margin:25px auto;
	}
	.welcome-section {
		position:relative;
		height:125px;
		overflow:hidden;
		margin-top:25px;

		.verbiage {
			width:45%;
			display:inline-block;
			h2 {
				color:#454545;
				font-weight:normal;
			}
			h3 {
				font-size:18px;
				font-weight:normal;
				line-height:16px;
				margin-bottom:20px;
				color:#767676;
			}
		}
		.screenshot {
			border-radius:7px;
			padding:0;
			margin:0;
			float:right;
		}
	}
	.confirm-sms {
		.btn {
			position: relative;
			top:30px;
			right:45px;
			font-size:1.2em;
		}
	}
}
