//
// Welcome 
.welcome {
	width:700px;
	margin:50px auto;
	padding-bottom:100px;
	.number-porn-circle {
		left:10px;
		top:25px;
	}
	.btn-primary {
		font-size:1.8em;
		padding:15px;
		display:block;
		margin:25px auto;
	}
	.welcome-section {
		position:relative;
		.border-radius(7px);
		background:rgba(56,135,181,.1);
		margin-top:20px;
		padding:20px;
		overflow:auto;

		.verbiage {
			width:45%;
			display:inline-block;
			h2 {
				color:#454545;
				font-weight:normal;
			}
			h3 {
				font-size:18px;
				font-weight:normal;
				line-height:16px;
				margin-bottom:20px;
				color:#767676;
			}
		}
		.screenshot {
			border-radius:7px;
			padding:0;
			margin:0;
			float:right;
		}
	}
	.confirm-sms {
		.btn {
			position: relative;
			top:30px;
			right:45px;
			font-size:1.2em;
		}
	}
}
