<!-- Database -->

<script id="database_form" type="text/html">
	<form action="/databases" method="post" class="well form-horizontal">
		<fieldset>
			<legend>Create a database</legend>
			<div class="control-group">
				<label class="control-label" for="input01">Title</label>			
				<div class="controls">
					<input type="text" id="input01" class="input-xlarge" name="title" placeholder="pick a title for your db" />
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Create Database</button>
				<a href="/databases" class="btn navigate">Cancel</a>
			</div>
		</fieldset>
	</form>
</script>

<script id="database_list" type="text/html">
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th width="1%"></th>
			</tr>
		</thead>

		<tbody>
			-{#databases}-
			<tr>
				<td>
					<a href="/-{title}-/collections" class="navigate"><b>-{title}-</b></a>
				</td>
				<td>
					<a href="/databases/-{_id}-" class="delete btn btn-danger btn-mini">Delete</a>
				</td>
			</tr>
			-{/databases}-
		</tbody>
	</table>

	<a href="/databases/new" class="btn navigate">Add Database</a>
</script>

<script id="database_details" type="text/html">
	<fieldset>
		<legend>Legend text</legend>
		<div class="control-group">
			<label class="control-label" for="input01">Text input</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="input01">
				<p class="help-block">Supporting help text</p>
			</div>
		</div>
	</fieldset>
</script>