<!-- basic modal for groups form -->
<div class="modal hide" id="group_modal">
</div>

<script id="groups_form" type="text/html">
	<form action="/groups" method="post">
		<div class="modal-header">
			<a href="#" class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
			<h3>Edit Notebook</h3>
    	</div>
		<div class="modal-body">
			<div class="controls">
				<label><i class="icon-book"></i> Notebook Title</label>
				
				<input type="text" name="name" value="<%group.name%>" class="name input-xlarge" placeholder="Pick a name for your notebook" />
			</div>

			<div class="controls">
				<label><i class="icon-user"></i> People</label>
				<div id="members">
					<textarea name="members" class="input-xlarge" value="<%.%>" placeholder="enter email address"><%users_email%></textarea>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-small btn-primary"><%save_label%></button>
			<%#is_update%>
			<a class="pull-right btn btn-small btn-danger delete">Delete</a>
			<%/is_update%>
		</div>

	</form>
</script>


<script id="groups_board" type="text/html">
	<ul class="notebooks notes_board">
		<%#notebooks%>
			<li class="sticky deck card" data-id="">
				<h1>
					<a href="/notes?notebooks[]=<%_id%>" class="navigate title"><%_id%></a>
				</h1>
			</li>
		<%/notebooks%>
	</ul>
</script>
