<div class="modal hide" id="add_new_group">
</div>

<script id="groups_form" type="text/html">
	<form action="/groups" method="post">
		
		<div class="modal-body">
			<div class="controls">
				<label>Notebook Title</label>
				
				<input type="text" name="name" value="<%group.name%>" class="name input-xlarge" placeholder="Pick a name for your notebook" />
			</div>

			<div class="controls">
				<label>People</label>
				<div id="members">
					<%#users_email%>
					<div class="member">
						<input type="text" name="members[]" class="input-xlarge" value="<%.%>" placeholder="enter email address" />
						<a href="#" class="btn add-member"><i class="icon-plus"></i></a>
						<a href="#" class="btn rem-member"><i class="icon-minus"></i></a>
					</div>
					<%/users_email%>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<%#is_update%>
			<a class="pull-left btn btn-danger delete">Delete</a>
			<%/is_update%>
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<button type="submit" class="btn btn-primary"><%save_label%></button>
		</div>

	</form>
</script>


<script id="groups_list" type="text/html">
	<div class="notes_wrapper fluid-container">

		<div class="row-fluid">
			<ul class="notes_list span12">
				<%#notes%>
					<li class="card" data-id="<%_id%>">
						<img src="http://profiles.google.com/s2/u/0/photos/profile/<%_user.googleId%>?sz=48" class="pull-left avatar" />
						<div class="pull-left">
							<div class="autolink"><%message%></div>
							<div class="meta">
								<%created_at_in_words%>
							</div>
						</div>
					</li>
				<%/notes%>
			</ul>
		</div>
	</div>
</script>
