<%- partial('header') %>

	<div class="web container">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h3>Login or <a href="/signup">Signup</a></h3>
					<form action="/login" method="post">
						<div class="clearfix">
							<input type="email" name="username" placeholder="email"  />
						</div>
						<div class="clearfix">
							<input type="password" name="password" placeholder="password">
						</div>
						
						<button class="btn primary" type="submit">Sign in</button>
						<a href="/auth/google" class="btn btn-google"><img src="/img/google_plus_icon.png" />Sign in with Google</a>
					</form>

					
				</div>


			</div>
		</div>
	</div> 

<%- partial('footer') %>
