<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		
		<div class="container-fluid">
			<a class="brand navigate" href="/notes"><img class="logo" src="/img/sticky-logo-medium.png"/></a>

			{{#is_logged_in}}				
				<ul class="nav">
					<li><a href="/notes/new" class="post-message">post</a></li>
				</ul>
			{{/is_logged_in}}
		</div>

	</div>
</div>


<div class="modal hide" id="post_new_message">
	<form action="/notes" method="post">
		<div class="modal-body">
			<textarea name="message" placeholder="What's on your mind?"></textarea>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<button type="submit" class="btn btn-primary">Post</button>
		</div>
	</form>
</div>
