<div class="navbar">
	<div class="navbar-inner">
		
		<div class="container-fluid">
			<a class="brand navigate" href="/notes">
				<div class="logo">
					STICKY
					<img class="logo" src="/img/sticky-symbol.png"/>
				</div>
			</a>

			{{#is_logged_in}}				
			<div class="profile clearfix">
				

				<ul class="nav">
					<li><a href="/notes/new" class="tk-bebas-neue post-message"><i class="icon-plus icon-white"></i> Add</a></li>
					<li><a href="/notebooks" class="navigate tk-bebas-neue"><i class="icon-book icon-white"></i> Notebooks</a></li>
					<li class="calendar_by_date">
						<a href="#" class="tk-bebas-neue"><i class="icon-calendar icon-white"></i> Calendar</a>
						<div id="calendar" class="hide clearfix"></div>
					</li>
				</ul>


				

				<div class="btn-group pull-right">
					<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
						<i id="gravatar"><img src="http://profiles.google.com/s2/u/0/photos/profile/{{req.user.googleId}}?sz=16" /></i>
						<span class="username">{{req.user.email}}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/logout">Sign Out</a></li>
					</ul>
				</div>

				

				<form action="/notes" method="get" class="navbar-search pull-right">
					<input type="text" name="keyword" class="search-query" placeholder="Discover">
				</form>

			</div>
			{{/is_logged_in}}
		</div>

	</div>
</div>


<div class="modal hide" id="post_new_message">
	<form action="/notes" method="post">
		<div class="modal-body">
			<textarea name="message" placeholder="What's on your mind?"></textarea>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<button type="submit" class="btn btn-primary">Post</button>
		</div>
	</form>
</div>
