<script id="notes_board" type="text/html">
	<div class="notes_wrapper fluid-container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="notes_board">
					<%#notes%>
						<li class="sticky card" data-id="<%_id%>" draggable="true">
							<%>sticky%>					
						</li>
					<%/notes%>
				</ul>
			</div>
		</div>
	</div>
</script>

<!-- hack to get icanhaz partials to load from JS -->
<script id="single_note" type="text/html">
	<%#note%>
	<%>sticky%>
	<%/note%>
</script>

<script id="sticky" class="partial" type="text/html">
	<a href="/notes/<%_id%>" class="delete hide"><i class="icon-remove"></i></a>
	<div class="pole-position autolink <%#completed%>completed<%/completed%>">
		
		<%#is_taskable%>
			<input type="checkbox" class="task-completed" <%#completed%>checked="true"<%/completed%> />
		<%/is_taskable%>

		<%message%>
	</div>
	
	<%#_notes%>
		<div class="autolink subnote <%#completed%>completed<%/completed%>" data-id="<%_id%>" draggable="true">
			<a href="#" class="sub-delete hide"><i class="icon-remove"></i></a>
			<%#has_subnotes%>		
				<a href="/notes/<%_id%>" class="navigate"><span class="badge badge-success"><%subnote_count%></span></a>
			<%/has_subnotes%>

			<%#is_taskable%>
				<input type="checkbox" class="task-completed" <%#completed%>checked="true"<%/completed%> />
			<%/is_taskable%>

			<%message%>
		</div>
	<%/_notes%>

</script>
