
<!--
	Expanded Note
-->

<script id="expanded_note" type="text/html">
	<div class="expanded-actions">
		<span id="save-notice"></span>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn make-bold" href="#"><strong>B</strong></a>
				<a class="btn make-italic" href="#"><em>i</em></a>
				<a class="btn make-underline" href="#"><u>U</u></a>
			</div>
			<div class="btn-group">
				<a class="btn save" href="#"><i class="icon-ok"></i></a>
				<a href="/notes/{{parent_note._id}}" class="btn confirm" data-id="{{parent_note._id}}"><i class="icon-trash"></i></a>
			</div>
		</div>
	</div>
	<div class="expanded-note">
		<div id="editable-message" contenteditable="true">{{!note message gets loaded here}}</div>
	</div>
	{{#has_subnotes}}
	<ul class="timeline">
		{{#notes}}
			<li class="sticky card subnote" data-id="{{_id}}" draggable="true">
				{{{message}}}
				<span class="timestamp">{{stacked_at_in_date}}</span>
			</li>
		{{/notes}}
	</ul>	
	{{/has_subnotes}}
</script>

<!--
	Notes Board
-->

<script id="notes_board" type="text/html">

	<ul class="notes_board">
		{{#notes}}
			<li class="sticky card {{#has_subnotes}}stacked{{/has_subnotes}}" data-id="{{_id}}" {{#draggable}}draggable="true"{{/draggable}}>
				{{>sticky_actions}}
				
				<div class="{{#has_subnotes}}pole-position {{/has_subnotes}} autolink {{#completed}}completed{{/completed}}">						
					{{>sticky}}
				</div>

				<div class="meta">
					{{created_at_in_date}}
				</div>
			</li>
		{{/notes}}
	</ul>
</script>

<!--
	Sticky Partial - Resuable code
-->

<script id="sticky" class="partial" type="text/html">
<div class="message {{#has_domains}}remove-stray-links{{/has_domains}}">{{#is_taskable}}<input type="checkbox" class="task-completed" {{#completed}}checked="true"{{/completed}} /> {{/is_taskable}}{{{message}}}</div>
</script>

<!--
	Sticky Actions
-->

<script id="sticky_actions" class="partial" type="text/html">	
	<div class="sticky-actions">
		{{#draggable}}
		<i class="sticky-action icon-move dnd hide"></i>
		{{/draggable}}
		<a href="/notes/{{_id}}" class="push expand sticky-action hide"><i class="icon-pencil"></i></a>				
		{{#has_subnotes}}<a href="/notes/{{_id}}" class="push expand sticky-action"><i class="icon-list-alt sticky-action"></i></a>{{/has_subnotes}}
	</div>
</script>

:
