
<!--
	Expanded Note
-->

<script id="expanded_note" type="text/html">
	
	<div class="expanded-actions">
		<a href="#" class="pull-right" id="close-expanded-view"><i class="icon icon-remove"></i></a>

		<span id="save-notice" class="hide label label-success"></span>
		
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn make-bold" href="#"><strong>B</strong></a>
				<a class="btn make-italic" href="#"><em>i</em></a>
				<a class="btn make-underline" href="#"><u>U</u></a>
			</div>
			<div class="btn-group">
				<a class="btn save" href="#"><img src="/img/save.gif" /></a>
				<a href="/notes/{{parent_note._id}}" class="btn confirm" data-id="{{parent_note._id}}"><i class="icon-trash"></i></a>
			</div>
		</div>
	</div>
	<div class="expanded-wrapper">
		<div class="expanded-note">
			<div id="editable-message" contenteditable="true">{{#parent_note}}{{{note_message}}}{{/parent_note}}</div>
		</div>
	</div>	

	<div class="timeline-wrapper">		
		<ul class="timeline">
			{{#notes}}
				{{>substicky}}
			{{/notes}}
			<li class="sticky card subnote add-subnote" >
				<div class="number-porn"><i class="icon icon-white icon-plus"></i></div>
				<textarea placeholder="Enter thoughts about this note here"></textarea>
			</li>
		</ul>
	</div>

</script>

<!--
	Notes Board
-->

<script id="notes_board" type="text/html">
	<ul class="notes_board">
		{{#notes}}
			<li class="sticky card {{#has_subnotes}}stacked{{/has_subnotes}}" data-id="{{_id}}" {{^has_subnotes}}draggable="true"{{/has_subnotes}}>
				<div class="sticky-actions-wrapper">
					{{>sticky_actions}}
				</div>
				
				<div class="message_wrapper {{#has_subnotes}}pole-position {{/has_subnotes}} autolink {{#completed}}completed{{/completed}}">						
					{{>sticky}}
				</div>

				<div class="meta">
					<span class="created_at">{{created_at_in_date}}</span>
					{{#has_subnotes}}<span class="subnote-count">{{subnote_count}} notes</span>{{/has_subnotes}}
					{{#group_labels}}
						<span class="label {{group_colors}}">@{{.}}</span>
					{{/group_labels}}
				</div>
			</li>
		{{/notes}}
		{{^notes}}
			<li class="empty">No notes found</li>
		{{/notes}}
	</ul>
</script>

<!--
	Sticky Partial - Resuable code
-->

<script id="sticky" class="partial" type="text/html">
	<div class="message {{#has_domains}}remove-stray-links{{/has_domains}}">{{#is_taskable}}<input type="checkbox" class="task-completed" {{#completed}}checked="true"{{/completed}} /> {{/is_taskable}}{{{note_message}}}</div>
</script>

<script id="substicky" class="partial" type="text/html">
	<li class="sticky card subnote {{#completed}}completed{{/completed}}" data-id="{{_id}}" draggable="true">
		<span class="timestamp pull-right">{{stacked_at_in_date}}</span>
		<div class="message">
			{{#is_taskable}}<input type="checkbox" class="task-completed" {{#completed}}checked="true"{{/completed}} /> {{/is_taskable}}
			{{{note_message}}}
		</div>
	</li>
</script>

<!--
	Sticky Actions
-->

<script id="sticky_actions" class="partial" type="text/html">	
	<!--
	<div class="sticky-actions">
		
	</div>
	-->
</script>

