<div id="notebook" class="modal hide fade">
	<!-- content gets loaded here -->
</div>

<script id="edit_notebook_content" type="text/html">	
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		{{#is_new}}
		<h3>Create a Notebook</h3>
		{{/is_new}}
		{{^is_new}}
		<h3>Edit Notebook</h3>
		{{/is_new}}
	</div>
	<form action="/notebooks/{{notebook._id}}" method="post">
	<div class="modal-body">
		<label>Notebook name</label>
		<input type="text" placeholder="Enter notebook name" name="name" value="{{notebook.name}}" />
		<label>Color</label>
		<ul class="colors">
			<li data-value="" class="none"></li>
			<li data-value="green" class="green"></li>
			<li data-value="orange" class="orange"></li>
			<li data-value="blue" class="blue"></li>
			<li data-value="yellow" class="yellow"></li>
			<li data-value="red" class="red"></li>
		</ul>
		<input type="hidden" name="color" value="" />
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn primary">Save</button>
		<a href="javascript:$('#notebook').modal('hide')" class="btn secondary">Cancel</a>
		{{^is_new}}
		<a href="/notebooks/{{notebook._id}}" data-id="{{notebook._id}}"class="pull-right delete">Delete this notebook</a>
		{{/is_new}}
	</div>
	</form>
</script>
