<!--
	Expanded Note
-->

<script id="expanded_note" type="text/html">
	<div class="expanded-note">
		<textarea><%parent_note.message%></textarea>
	</div>

	<ul class="timeline">
		<%#notes%>
			<li class="sticky card" data-id="<%_id%>" draggable="true">
				<%message%>
				<div class="timestamp"><%stacked_at_in_words%></div>	
			</li>
		<%/notes%>
	</ul>	
</script>

<!--
	Notes Board
-->

<script id="notes_board" type="text/html">
	<div class="board_controls">
		<%#within_notebook%>
			TRUE
		<%/within_notebook%>	
	</div>

	<ul class="notes_board">
		<%#notes%>
			<li class="sticky card" data-id="<%_id%>" draggable="true">
					<a href="/notes/<%_id%>" class="navigate expand hide"></a>
				
					<div class="pole-position autolink <%#completed%>completed<%/completed%>">						
						<%>sticky%>
					</div>

					<%#_notes%>
						<div class="autolink subnote <%#completed%>completed<%/completed%>" data-id="<%_id%>" draggable="true">
							<a href="#" class="sub-delete hide"><i class="icon-remove"></i></a>
							<%#has_subnotes%>		
								<a href="/notes/<%_id%>" class="navigate"><span class="badge badge-success"><%subnote_count%></span></a>
							<%/has_subnotes%>
							<%>sticky%>
						</div>
					<%/_notes%>
					
					<div class="meta">
						created <%created_at_in_words%>
						<a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a>
					</div>
			</li>
		<%/notes%>
	</ul>
</script>

<!--
	Sticky Partial - Resuable code
-->

<script id="sticky" class="partial" type="text/html">
	<%#is_taskable%>
		<input type="checkbox" class="task-completed" <%#completed%>checked="true"<%/completed%> />
	<%/is_taskable%>
	

	<div class="<%#has_domains%>remove-stray-links<%/has_domains%>">
		<%message%>
	</div>
	
	<%#_domains%>
		<div>
			<a href="<%url%>" target="_blank">
				<img src="http://www.google.com/s2/u/0/favicons?domain=<%domain%>" />
				<%title%>
			</a>
		</div>
	<%/_domains%>
</script>
