<script id="notes_board" type="text/html">
	<div class="notes_wrapper fluid-container">
		<div class="row-fluid">
			<div class="span12">
				<ul class="notes_board">
					<%#notes%>
						<li class="sticky card" data-id="<%_id%>">
							<%>sticky%>					
						</li>
					<%/notes%>
				</ul>
			</div>
		</div>
	</div>
</script>

<!-- hack to get icanhaz partials to load from JS -->
<script id="single_note" type="text/html">
	<%#note%>
	<%>sticky%>
	<%/note%>
</script>

<script id="sticky" class="partial" type="text/html">
	<a href="/notes/<%_id%>" class="delete hide"><i class="icon-remove"></i></a>
	<div class="autolink"><%message%></div>
	<div class="meta">
		<div class="created_at">
			<%created_at_in_words%>
		</div>
	</div>
</script>
