<script id="edit_notebook_content" type="text/html">	
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Edit Notebook</h3>
	</div>
	<form action="/notebooks/{{notebook._id}}" method="post">
	<div class="modal-body">
		<label>Notebook name</label>
		<input type="text" placeholder="Enter notebook name" name="name" value="{{notebook.name}}" />
		<label>Color</label>
		<select name="color" class="color">
			<option value="">None</option>
			<option value="green">Green</option>
			<option value="orange">Orange</option>
			<option value="blue">Blue</option>
			<option value="yellow">yellow</option>
			<option value="red">Red</option>
		</select>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn primary">Save</button>
		<a href="javascript:$('#edit-notebook').modal('hide')" class="btn secondary">Cancel</a>
		<a href="/notebooks/{{notebook._id}}" data-id="{{notebook._id}}"class="pull-right delete">Delete this notebook</a>
	</div>
	</form>
</script>
