
<!--
	Expanded Note
-->

<script id="expanded_note" type="text/html">	

	<div id="expanded-view">
	<div class="expanded-actions">
		<span id="save-notice"></span>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn navigate" href="/notes"><i class="icon-home"></i></a>
			</div>
			<div class="btn-group">
				<a class="btn make-bold" href="#"><strong>B</strong></a>
				<a class="btn make-italic" href="#"><em>i</em></a>
				<a class="btn make-underline" href="#"><u>U</u></a>
			</div>
			<div class="btn-group">
				<a class="btn save" href="#"><i class="icon-ok"></i></a>
				<a href="/notes/{{parent_note._id}}" class="btn confirm" data-id="{{parent_note._id}}"><i class="icon-trash"></i></a>
			</div>
		</div>
	</div>
	<div class="expanded-note">
		<div id="editable-message" contenteditable="true">{{!note message gets loaded here}}</div>
	</div>
	{{#has_subnotes}}
	<ul class="timeline">
		{{#notes}}
			<li class="sticky card" data-id="{{_id}}">
				{{message}}
				<span class="timestamp">{{stacked_at_in_date}}</span>
			</li>
		{{/notes}}
	</ul>	
	{{/has_subnotes}}
	</div>
</script>

<!--
	Notes Board
-->

<script id="notes_board" type="text/html">

	<div id="inbox">
		<div class="inbox-controls">
			<div class="btn-toolbar">
				<div class="btn-group">
				<a href="/notes" class="btn navigate"><i class="icon-home"></i></a>
			</div>
			<div class="btn-group">
				<a class="btn" href="#"><span class="icon-pound">#</span> <span class="tag-label">Tag</span></a>
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<% for(var i=0; i<tags.length; i++) {  %>	
						<li><a href="/notes?tags=<%= tags[i]._id  %>" class="navigate"><%= tags[i]._id  %></a></li>
					<% } %>
				</ul>
			</div>
			<div class="btn-group">
				<a href="/notes?order=desc" class="order btn" data-direction="desc"><i class="icon-chevron-down"></i></a>
				<a href="/notes?order=asc" class="order btn" data-direction="asc"><i class="icon-chevron-up"></i></a>
			</div>
		</div>
	</div>

	<ul class="notes_board">
		{{#notes}}
			<li class="sticky card {{#has_subnotes}}stacked{{/has_subnotes}}" data-id="{{_id}}" {{#draggable}}draggable="true"{{/draggable}}>
				{{>sticky_actions}}

				<div class="{{#has_subnotes}}pole-position {{/has_subnotes}} autolink {{#completed}}completed{{/completed}}">						
					{{>sticky}}
				</div>

				{{#_notes}}
					<div class="autolink subnote {{#completed}}completed{{/completed}}" data-id="{{_id}}}" draggable="true">
						<i class="icon-move dnd hide"></i>
						<div class="timeline-pole"></div>
						{{>sticky}}
					</div>
				{{/_notes}}
					
				<div class="meta">
					{{created_at_in_date}}
				</div>
			</li>
		{{/notes}}
	</ul>
</script>

<!--
	Sticky Partial - Resuable code
-->

<script id="sticky" class="partial" type="text/html">
	<div class="message {{#has_domains}}remove-stray-links{{/has_domains}}">{{#is_taskable}}<input type="checkbox" class="task-completed" {{#completed}}checked="true"{{/completed}} /> {{/is_taskable}}{{{message}}}</div>
</script>

<!--
	Sticky Actions
-->

<script id="sticky_actions" class="partial" type="text/html">	
	<div class="sticky-actions hide">
		{{#draggable}}
		<i class="icon-move dnd"></i>
		{{/draggable}}
		<a href="/notes/{{_id}}" class="navigate expand"><i class="icon-pencil"></i></a>				
	</div>
</script>
