
<!--
	Expanded Note
-->

<script id="expanded_note" type="text/html">	
	<div class="expanded-actions">
		<span id="save-notice"></span>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn make-bold" href="#"><strong>B</strong></a>
				<a class="btn make-italic" href="#"><em>i</em></a>
				<a class="btn make-underline" href="#"><u>U</u></a>
			</div>
			<div class="btn-group">
				<a class="btn save" href="#"><i class="icon-ok"></i></a>
				<a href="/notes/{{parent_note._id}}" class="btn confirm" data-id="{{parent_note._id}}"><i class="icon-trash"></i></a>
			</div>
		</div>
	</div>
	<div class="expanded-note">
		<div id="editable-message" contenteditable="true">{{!note message gets loaded here}}</div>
	</div>

	<ul class="timeline">
		{{#notes}}
			<li class="sticky card" data-id="{{_id}}" draggable="true">
				{{message}}
				<div class="timestamp">{{stacked_at_in_words}}</div>	
			</li>
		{{/notes}}
	</ul>	
</script>

<!--
	Notes Board
-->

<script id="notes_board" type="text/html">
	<ul class="notes_board">
		{{#notes}}
			<li class="sticky card {{#has_subnotes}}stacked{{/has_subnotes}}" data-id="{{_id}}">
				<a href="/notes/{{_id}}" class="navigate expand hide"><i class="icon-pencil"></i></a>
				
				<div class="pole-position autolink {{#completed}}completed{{/completed}}">						
					{{>sticky}}
				</div>

				{{#_notes}}
					<div class="autolink subnote {{#completed}}completed{{/completed}}" data-id="{{_id}}}" draggable="true">
						<a href="#" class="sub-delete hide"><i class="icon-remove"></i></a>
						{{>sticky}}
					</div>
				{{/_notes}}
					
				<div class="meta">
				{{created_at_in_date}}
				</div>
			</li>
		{{/notes}}
	</ul>
</script>

<!--
	Sticky Partial - Resuable code
-->

<script id="sticky" class="partial" type="text/html">
	<div class="message {{#has_domains}}remove-stray-links{{/has_domains}}">{{#is_taskable}}<input type="checkbox" class="task-completed" {{#completed}}checked="true"{{/completed}} /> {{/is_taskable}}{{{message}}}</div>
</script>
