{{> header}}
	<div class="scope">
		<div class="logo">
					<img class="logo" src="/img/sticky-symbol-large.png"/>
					STICKY
					
				</div>

		<h1>Capturing thoughts that stick in real time</h1>

		<form class="navbar-form ">
  			<input type="text" class="span6" value="Request beta access">
  			<a class="btn btn-">Give me access</a>	
		</form>
		
		<img src="/img/google_plus_icon.png" /> <a href="/auth/google" class="signon"> Sign in with Google</a>
	</div>

	<div class="web-content">
		<img src="/img/screenshot-sticky-ui.png" />
	</div>
{{> footer}}