<%- partial('header') %>
	
<body class="web">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="logo web-logo">STICKY</div>

	<div class="web-header">
		<h1>Organize your life</h1>
		<h2 class="tk-proxima-nova-sc-osf-ext-cond">Capturing thoughts that stick, right from Google Talk.</h2>
		<a href="/auth/google" class="signon btn btn-large btn-primary"><img src="/img/google_plus_icon.png" /> Sign in with Google</a>
	</div>

	<div class="web-scope">
		<img src="/img/scope-origami.jpg" />
	</div>

	<div class="web-whatis">
		<ul>
			<li>
				<img src="/img/capture_icon.png" class="screenshot" />
				<h1>Capture your thoughts</h1>
				<div class="content">
					Sticky allows you to capture your thoughts when they happen, how they happen, why 
					they happen.
				</div>
				<div class="equation">+</div>
			</li>
			<li>
				<img src="/img/organize_icon.png" />
				<h1>Organize your ideas</h1>
				<div class="content">
					Organize ideas on your own time, creates an ideal workspace
					for seeing ideas through to completion.
				</div>
				<div class="equation">=</div>
			</li>
			<li>
				<img src="/img/execute_icon.png" />
				<h1>Execute ideas that matter</h1>
				<div class="content">
					With the use of Sticky's UI, developing clarity between ideas has never been easier.	
				</div>
			</li>
		</ul>
	</div>

	<div class="web-ui">
		<div class="web-content container-fluid">
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<h1>Special tags</h1>
						<img src="/img/web-ui-todo.jpg" class="screenshot" />
					</div>
					<div class="item">
						<h1>Notebooks</h1>
						<img src="/img/web-ui-notebooks.png" class="screenshot" />
					</div>
					<div class="item">
						<h1>General purpose tagging</h1>
						<img src="/img/web-ui-tags.png" class="screenshot" />
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>

	<div class="web-ui-dnd">
		<div class="web-content container-fluid">
			<h1>
				Drag and drop stacking
			</h1>
			<img src="/img/web-ui-drag.png" />
		</div>
	</div>

	<div class="web-closing-statement">
		<div class="web-content">
			<h1>
			 	Start organizing your thoughts and ideas with Gtalk. 
			</h1>
			<h3 class="">
				(You're on there all day anyway.)
			</h2>
			<a href="/auth/google" class="signon btn btn-large btn-primary"><img src="/img/google_plus_icon.png" /> Sign in with Google</a>
		</div>
	</div>

	<div class="web-footer">
		<div class="web-content container-fluid">
			<div class="logo web-footer-logo">STICKY</div>
			<a class="social-twitter"></a>
			<a class="social-facebook"></a>
		</div>	
	</div>

	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.7.1.min.js"><\/script>')</script>
	
	<%- js('public') %>

	<script>
		$(document).ready(function() {
			$('.carousel').carousel()
		})
	</script>

	<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
	g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
	mixpanel.init("dc318d85f647b3cc6ff0992c0af24729");</script><!-- end Mixpanel -->

	</body>
</html>
