<%- partial('header') %>
	
<body class="web">
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="logo web-logo">STICKY</div>

	<div class="web-header">
		<h1>Leave no note behind</h1>
		<h2 class="tk-proxima-nova-sc-osf-ext-cond">Capturing thoughts that stick, right from Google Talk.</h2>
		<a href="/auth/google" class="signon btn btn-large btn-primary"><img src="/img/google_plus_icon.png" /> Sign in with Google</a>
	</div>

	<div class="web-scope">
		<img src="//d3sy8nn9suvu9a.cloudfront.net/sticky.io/sticky-scope.jpg" />
	</div>

	<div class="web-ui">
		<div class="web-content container-fluid">
			<h1>How it works</h1>
			<div class="gmail-to-ui pull-left">
				Use sticky to capture thoughts, links, and tasks the moment they happen
				<img src="/img/gmail-to-ui-left.png" class="screenshot" />
			</div>
			<div class="arrow-column">
				<div class="arrow top"></div>
				<div class="arrow bottom"></div>
			</div>
			<div class="gmail-to-ui pull-right">
				Go to http://sticky.io to organize and execute later
				<img src="/img/gmail-to-ui-right.png" class="screenshot" />
			</div>
		</div>
	</div>

	<div class="web-access">
		<div class="web-content container-fluid">
			<ul>
				<li>
					<img src="/img/capture_icon.png" />
					<h1>Capture your thoughts</h1>
					Sticky allows you to capture your thoughts when they happen, how they happen, why 
					they happen.
				</li>
				<li>
					<img src="/img/organize_icon.png" />
					<h1>Organize your ideas</h1>
					Having the ability to organize ideas on your own time, creates an ideal workspace
					for seeing ideas through to completion.
				</li>
				<li>
					<img src="/img/execute_icon.png" />
					<h1>Execute ideas that matter</h1>
					With the use of Sticky's UI, developing clarity between ideas has never been easier.	
					<br /><br />
				</li>
			</ul>
		</div>
	</div>

	<div class="web-footer">
		<div class="web-content container-fluid">
			<div class="logo web-footer-logo">STICKY</div>
		</div>	
	</div>


<%- partial('footer') %>
