<%- partial('header') %>

	
	<div class="logo web-logo">STICKY</div>

	<div class="web-header">
		<h1>Leave no note behind</h1>
		<h2 class="tk-proxima-nova-sc-osf-ext-cond">Capturing thoughts that stick, right from Google Talk.</h2>
		<a href="/auth/google" class="signon btn btn-large btn-primary"><img src="/img/google_plus_icon.png" /> Sign in with Google</a>
	</div>

	<div class="web-scope">
		<img src="//d3sy8nn9suvu9a.cloudfront.net/sticky.io/sticky-scope.jpg" />
	</div>

	<div class="web-ui">
		<div class="web-content container-fluid">
			<h1>How it works</h1>
			<div class="gmail-to-ui pull-left">
				Use sticky to capture thoughts, links, and tasks the moment they happen
				<img src="/img/gmail-to-ui-left.png" class="screenshot" />
			</div>
			<div class="arrow-column">
				<div class="arrow top"></div>
				<div class="arrow bottom"></div>
			</div>
			<div class="gmail-to-ui pull-right">
				Go to http://sticky.io to organize and execute later
				<img src="/img/gmail-to-ui-right.png" class="screenshot" />
			</div>
		</div>
	</div>

	<div class="web-access">
		<div class="web-content container-fluid">
			<ul>
				<li>
					<img src="/img/chat_icon.png" />
					<h1>Chat / XMPP</h1>
				</li>
				<li>
					<img src="/img/sms_icon.png" />
					<h1>SMS</h1>
				</li>
				<li>
					<img src="/img/email_icon.png" />
					<h1>Email</h1>
				</li>
			</ul>
		</div>
	</div>

	<div class="web-footer">
		<div class="web-content container-fluid">
			<div class="logo web-footer-logo">STICKY</div>
		</div>	
	</div>


<%- partial('footer') %>
