{{> header}}
	<div class="scope">

		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span3">
				<div class="logo">
					<img src="img/sticky-logo-medium.png"/>
				</div>
			</div>
			<div class="span7">
				<div class="take-action">
					<h1>Bookmarking, Micro-notes, and Tasking over XMPP</h1>

					<div class="google">Add <span class="email">derby@pine.io</span> to your buddy list and say hello.</div> 
				</div>
			</div>
			<div class="span1"></div>
		</div>

	</div>
{{> footer}}