{{>header}}

	
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="login-form">
					Signup
					<form action="/signup" method="post">
						<div class="clearfix">
							<input type="text" name="subdomain" placeholder="domain" class="span2"  />.pine.io
						</div>
						<div class="clearfix">
							<input type="text" name="name" placeholder="name"  />
						</div>
						<div class="clearfix">
							<input type="email" name="email" placeholder="email"  />
						</div>
						<div class="clearfix">
							<input type="password" name="password" placeholder="password" />
						</div>
						<div class="clearfix">
							<input type="password" name="password_confirmation" placeholder="password confirmation" />
						</div>
						<button class="btn primary" type="submit">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{{>footer}}