<!-- Settings Modal -->
<div id="settings" class="modal hide fade">
	<form class="form-horizontal">
		<div class="modal-header">
			<a href="javascript:$('#settings').modal('hide')" class="close">&times;</a>
			<h3>Settings</h3>
		</div>

		<div class="modal-body">
			
		  <div class="control-group">
		    <label class="control-label" for="input_phone_number">Phone Number</label>
		    <div class="controls">
		      <% if (current_user.phone_number && current_user.phone_number.length > 0) { %>
		      	<%= current_user.phone_number %> <a href="/confirm_phone_number" class="push">change</a>
		      <% } else { %>
		      	<a href="/confirm_phone_number" class="push btn">Add your phone number</a>
		      <% } %>
		    </div>	
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="input_phone_number">Change Password</label>
		    <div class="controls">
		      <input type="password" name="password" placeholder="Enter new password here" />
		    </div>	
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="input_phone_number">Theme</label>
		    <div class="controls">
		    	<input type="hidden" name="theme" value="<%= current_user.theme %>" />
		      <ul class="themes">
						<li data-value="bright" class="theme-bright-bg"></li>
						<li data-value="desk" class="theme-desk-bg"></li>
						<li data-value="den" class="theme-den-bg"></li>
						<li data-value="black" class="theme-black-bg"></li>
					</ul>
		    </div>
		  </div>

		</div>
		<div class="modal-footer">
			<button type="submit" class="btn danger">Save</button>
			<a href="javascript:$('#settings').modal('hide')" class="btn secondary">Cancel</a>
		</div>
	</form>
</div>

<!-- Confirm Phone Number -->
<div id="confirm_phone_number" class="modal hide fade">
	<div class="modal-header">
		<a href="javascript:$('#confirm_phone_number').modal('hide')" class="close">&times;</a>
		<h3>Setup your phone number</h3>
	</div>
	<div class="modal-body">
		<form method="post" class="form-horizontal">
			<div class="control-group">
	    	<label class="control-label" for="phone_number">Phone Number</label>
				<div class="controls">
					<input type="text" name="phone_number" required="true" pattern=".{10,}"  placeholder="e.g. +14155557218" />
					<button type="submit" class="btn">Confirm</button>
				</div>
			</div>
			<div id="confirm-code" class="control-group hide">
	    	<label class="control-label" for="phone_number">Confirmation Code</label>
				<div class="controls">
					<input type="text" name="phone_number_confirm_token" class="input-mini" />
					<button type="submit" class="btn">Authorize</button>
					<span class="help-block">Check your phone for an auth code</span>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Users Profile -->
<script id="users_profile" type="text/html">	
	<div class="profile">

		<i id="gravatar"><img src="http://profiles.google.com/s2/u/0/photos/profile/<%= req.user.googleId %>?sz=32" /></i>
		
		<div class="details">
			<div>{{current_user.name}} - {{current_user.email}}</div>
			<a href="/settings" class="navigate">Settings</a> | <a href="/logout">Logout</a>
		</div>

		<ul>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/welcome">Getting Started</a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/privacy">Privacy</a></li>
		</ul>
				
	</div>
</script>



