<div id="settings" class="modal hide fade">
	<form class="form-horizontal">
		<div class="modal-header">
			<a href="javascript:$('#settings').modal('hide')" class="close">&times;</a>
			<h3>Settings</h3>
		</div>

		<div class="modal-body">
			
		  <div class="control-group">
		    <label class="control-label" for="input_phone_number">Phone Number</label>
		    <div class="controls">
		      <input type="tel"  name="phone_number" id="input_phone_number" placeholder="Enter your phone number">
		    </div>
		  </div>

		</div>
		<div class="modal-footer">
			<button type="submit" class="btn danger">Save</button>
			<a href="javascript:$('#settings').modal('hide')" class="btn secondary">Cancel</a>
		</div>
	</form>
</div>

<script id="users_profile" type="text/html">	
	<div class="profile">

		<i id="gravatar"><img src="http://profiles.google.com/s2/u/0/photos/profile/<%= req.user.googleId %>?sz=32" /></i>
		
		<div class="details">
			<div>{{current_user.name}} - {{current_user.email}}</div>
			<a href="/settings" class="navigate">Settings</a> | <a href="/logout">Logout</a>
		</div>

		<ul>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/welcome">Getting Started</a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/privacy">Privacy</a></li>
		</ul>
				
	</div>
</script>

