<script id="settings" type="text/html">
	<ul class="settings">
		<li>
			<div class="pull-left">Bookmarklet</div>
			<div class="pull-right">
				<a href="{{bookmarklet_js}}">Stick it</a>
			</div>
		</li>
	</ul>
</script>

