<%- partial('header') %>

<div class="logo">STICKY</div>

<div class="welcome">	
	<h1>Welcome to Sticky!</h1>
	<div class="welcome-section accept-friend">
		<span class="number-porn">1</span>
		<div class="verbiage">
			<h2>Get Started!</h2>
			<h3>Head on over to your Gmail or favorite chat client and accept our chat request.</h3>
		</div>
		<img src="/img/welcome-gchat-accept.png" class="screenshot" />
	</div>
	
	<div class="welcome-section confirm-sms">
		<span class="number-porn">2</span>
		<div class="verbiage">
			<h2>Want to SMS?</h2>
			<h3>Enter your cell number to link your account to your phone.</h3>
		</div>
		<div class="screenshot">
			
		</div>
	</div>

	<a href="/notes" class="btn btn-primary">Take me to my notes!</a>
</div>

<%- partial('footer') %>
