<%- partial('header') %>

<body class="theme-bright">
	<div class="logo">STICKY</div>

	<div class="welcome">	
		<h1>Welcome to Sticky.IO!</h1>
		
		<!--
			Chat aware
		-->
		<div class="welcome-section accept-friend">
			<div class="verbiage">
				<h2>Chat with Sticky</h2>
				<h3>Head on over to your Gmail or favorite chat client and accept our chat request.</h3>
			</div>
			<img src="/img/welcome-gchat-accept.png" class="screenshot" />
		</div>
		
		<!--
			SMS Confirmation
		-->
		<div class="welcome-section confirm-sms">
			<div class="pull-right">
				<a href="/confirm_phone_number" class="push btn">Add your phone number</a>
			</div>
			<div class="verbiage">
				<h2>SMS your notes</h2>
				<h3>Enter your cell number to link your account to your phone.</h3>
			</div>
		</div>

		<!--
			Email aware
		-->
		<div class="welcome-section explain-email">
			<div class="verbiage">
				<h2>Send notes via Email</h2>
				<h3>Simply email notes to <a mailto="notes@sticky.io">notes@sticky.io</a> with your gmail username.</h3>
			</div>

			<img src="/img/welcome-email.png" class="screenshot" />
		</div>

		<a href="/notes" class="btn btn-primary">Take me to my notes!</a>
	</div>

<%- partial('users') %>
<%- partial('footer') %>
